
<div class="login-box">
      
    <div class="login-logo">
        <b>Iniciar sesión</b>
    </div>

    
    <div align="center">
        <label>{{result}}</label><br>
    </div>

    <div class="login-box-body">
       
        <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
            <input id=login type="text" class="form-control" placeholder="Login" ng-model="user.id">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        
        <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
            <input id=pass type="password" class="form-control" placeholder="Contraseña" ng-model="user.pass">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
          
        <div align="center">
            <button ng-click="ingresar()" style="margin: 20px 0px 0px 0px; width:50%" type="submit" class="btn btn-primary btn-block btn-flat">Iniciar sesión</button>
        </div>
              
        <div align="center" style="margin: 20px 0px 0px 0px;"  >
            <a  href="#registrarFan">Registrarse</a><br>
        </div>
    
    </div>

    
</div>

